<ul>
    {% for response in thread.response_set.all %}
    <li>
        {{ forloop.counter }}.{{ response.name_text }} -- {{ response.print_tweet_date }}<br>
        {{ response.response_text }}
    </li>
    {% endfor %}
</ul>

<div class="box17">
    <form action="{% url 'board:tweets' thread.id %}" method="post">
        {% csrf_token %}
        <a name="jump">書き込み</a><br>
        <input type="text" value="ななしちゃん" name="name_str" required minlength="1" maxlength="10"> <br>
        つぶやき : <br>
        <textarea name="tweet_str" rows="4" class="textarea_width"></textarea> <br>
        <input type="submit" value="書き込み">
        <input type="reset" value="リセット">
    </form>
</div>



