<!-- filepath: /Users/imabeppukanata/Django-shinsa/boards/board/templates/board/detail.html -->
{% extends "base.html" %}
{% block title %}Board | Thread Detail{% endblock %}
{% block content %}
<h2>{{ thread.thread_text }}</h2>
<p>作成日時: {{ thread.pub_date }}</p>

<h3>投稿されたレスポンス</h3>
<ul class="response-list">
    {% for response in responses %}
    <li>
        {{ response.response_number }}. {{ response.name_text }} ({{ response.tweet_date }}): <br>
        {{ response.response_text }}
    </li>
    {% endfor %}
</ul>

<div class="box17">
    <form action="{% url 'board:tweet' thread.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="name_text" required><br>
        つぶやき: <br>
        <textarea name="response_text" rows="4"></textarea><br>
        <input type="submit" value="投稿">
    </form>
</div>
{% endblock %}