<!-- filepath: /Users/imabeppukanata/Django-shinsa/boards/board/templates/board/index.html -->
{% extends "base.html" %}
{% block title %}Board | Home{% endblock %}
{% block content %}
<h1>スレッド一覧</h1>
<ul class="thread-list">
    {% for thread in latest_thread_list %}
    <li>
        <a href="{% url 'board:detail' thread.id %}">{{ thread.thread_text }}</a>
    </li>
    {% endfor %}
</ul>

<div>
    <h2>新規スレッド作成</h2>
    <form action="{% url 'board:create_thread' %}" method="post">
        {% csrf_token %}
        <textarea name="thread_text" rows="4" cols="50"></textarea><br>
        <input type="submit" value="作成">
    </form>
</div>
{% endblock %}